extends ../layouts/simple.layout.pug
block variables
  -
    var pageTitle = "homepage"
block content
  include ../components/article.mixin.pug
  include ../components/articles.list.pug
  .wrapper
    .row
      each article in articles
        .column.column-phablet-1-2.column-laptop-1-3.column-large-1-4.m-b-30
          +article(article)
