extends ../layouts/simple.layout.pug
block variables
  -
    var pageTitle = "homepage"
block content
  .wrapper
    h1 Hello!!!
    p my first page.
    .row
      each item in '1234'
        .column.column-1-2.column-phablet-1-3.column-desktop-1-4 content #{item}
