extends ../layouts/simple.layout.pug
block variables
  -
    var pageTitle = "homepage"
block content
  include ../components/article.mixin.pug
  include ../components/articles.list.pug
  +article
  +article({title: "my title"})
  each article in articles
    +article(article)
